body{
    margin:0;
    width: 100%;
    font-size: 100%;
    font-family: sans-serif;
    color: #444;
    background-color: #eee;
    /*background-image: url('backgrounds/footer_lodyas.png');*/
}

#site-navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 0 3px #ddd;
}
#site-navbar .site-links{
    position: absolute;
    left: 100px;
}
#site-navbar .external-links{
    position: absolute;
    right: 100px;
}

#site-navbar a{
    display: inline-block;
    height: 50px;
    padding: 10px 7px 0 7px;
    text-decoration: none;
    color: #333;
    font-size: 2.5em;
    border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%;
}
#site-navbar .site-links a{
    margin-left: -4px;
    border-right-width: 1px;
    border-right-style: solid;
}
#site-navbar .external-links a{
    margin-right: -4px;
    border-left-width: 1px;
    border-left-style: solid;
}

#site-navbar a:hover,
#site-navbar .active{
    box-shadow: 0 5px 5px -5px #8ac;
}

#site-navbar #home {
    padding-left: 13px;
    padding-right: 11px;
}
#site-navbar #home:hover{
    
}

.container {
    padding-top: 60px;
}

#utility-buttons {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#utility-buttons div{
    padding: 4px 6px;
    font-size: 2.5em;
    border: 1px solid #aaa;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 3px 5px #ddd;
}
#utility-buttons div:hover{
    cursor: pointer;
    box-shadow: 2px 3px 5px #ccc;
}