{
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "semi": 2,
    "prettier/prettier": "warn"
  },
  "env": {
    "browser": true
  }
}
