.Skill {
  .title {
    font-weight: 600;
    font-size: 1.15em;
    color: $dark_blue;
  }
  .skills {
    li {
      margin-left: 0.5em;
      line-height: 2em;
      height: 2em;
      vertical-align: middle;
      .name {
        position: absolute;
        left: 0;
        width: 40%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .competency {
        text-align: right;
        position: absolute;
        right: 5em;
      }
    }
  }
  .bar {
    display: inline-block;
    height: 1.6em;
    width: 1.2vw;
    margin-left: 0.4em;
    background-color: transparent;
    border: 1px solid #ccc;
    transform: skew(20deg);
    @include bp-large {
      width: 1em;
    }
    &.filled {
      background-color: $blue;
      border-color: $blue;
      @include box-shadow(3px 0 5px -1px rgba($blue, 0.7));
    }
  }
}
