.Education {
  .title {
    & > * {
      display: inline-block;
    }
    & > * + * {
      padding-left: 0.5em;
      border-left: 1px solid #ddd;
    }
    & > *:not(:last-of-type) {
      padding-right: 0.5em;
    }
    & ~ * {
      margin-left: 0.5em;
    }
  }
  .institution {
    font-weight: 600;
    font-size: 1.15em;
    color: $dark_blue;
  }
  .location {
    color: #888;
  }
  .for {
    & > * {
      display: inline-block;
    }
    & > * + * {
      padding-left: 0.5em;
    }
  }
  .duration {
    color: #888;
  }
}
