@import "./Achievement/Achievement";
@import "./Activity/Activity";
@import "./Education/Education";
@import "./Experience/Experience";
@import "./Skill/Skill";

.Resume {
  width: 80vw;
  margin: 1vw auto;
  .fa {
    vertical-align: bottom;
  }
  & > * + * > .section-content {
    padding-top: 1em;
    @include angle-edge(topright, 1deg);
  }
  & > * + * > .section-header{
    padding-top: 0.5em;
    @include angle-edge(topleft, 1.5deg);
    @include bp-large {
      @include angle-edge(topleft, 0.5deg);
    }
  }
  & > * + * {
    display: flex;
    flex-wrap: wrap;
  }
  .section-header {
    @include flex(1);
    min-height: 3em;
    font-size: 1.5em;
    font-weight: 600;
    color: $dark_blue;
    @include bp-large {
      @include flex(1 100%);
    }
  }
  .section-content {
    @include flex(6);
    padding-bottom: 2em;
    @include bp-large {
      @include flex(1 100%);
      &::before, &::after {
        content: none;
      }
      padding-top: 0;
    }
  }
  @include bp-medium {
    width: 95vw;
  }
  @media print {
    width: 95vw;
  }
}

#contact-info {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 2em;
  * {
    line-height: 1.4em;
  }
  .left {
    @include flex(6);
    @include bp-large {
      @include flex(3);
    }
  }
  .right {
    @include flex(2);
    @include bp-large {
      padding-top: 1em;
      @include flex(2);
    }
  }
  .name {
    font-size: 2.5em;
    font-weight: 600;
    line-height: 1.5em;
    color: $dark_blue;
  }
  .address .type {
    color: #888;
    margin-left: 0.5em;
  }
}
