@import "./Achievement/Achievement";
@import "./Activity/Activity";
@import "./Education/Education";
@import "./Experience/Experience";
@import "./Skill/Skill";

.Resume {
  width: 80vw;
  margin: 1vw auto;
  & > * + * > .section-content,
  & > *:first-of-type + * > .section-header,
  & > * + * > *{
    border-top: 1px solid $light_blue;
  }
  & > * + * {
    display: flex;
    flex-wrap: nowrap;
  }
  & > * + * > * {
    padding-top: 5px;
  }
  .section-header {
    @include flex(1);
    min-height: 3em;
    font-size: 1.5em;
    color: $dark_blue;
  }
  .section-content {
    @include flex(6);
    padding-bottom: 1em;
  }
}

#contact-info {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1em;
  * {
    line-height: 1.4em;
  }
  .left {
    @include flex(6);
  }
  .right {
    @include flex(1);
  }
  .name {
    font-size: 2.5em;
    line-height: 1.5em;
    color: $dark_blue;
  }
  .address .type {
    color: #888;
    margin-left: 0.5em;
  }
}
