.HeroImage {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 50vw;
  img {
    position: absolute;
    top: 0;
    left: -1vw;
    width: 102vw;
    height: auto;
    @include filter(blur(2px) saturate(50%));
  }
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    @include linear-gradient(bottom right, #1da1f2, #000000, #1da1f2);
  }
  .hero-header {
    position: absolute;
    display: inline-block;
    text-shadow: 0 0 10px rgba(0,0,0, 0.2);
    h1 {
      color: #efefef;
      font-size: 9em;
      text-transform: uppercase;
      @include bp-medium {
        font-size: 3em;
      }
    }
    h2 {
      color: #e6e6e6;
      font-size: 3.7em;
      @include bp-medium {
        font-size: 1.2em;
      }
    }
  }
  @include bp-medium {
    // display: none;
  }
}
