.Activity {
  padding-bottom: 0.5em;
  .title {
    padding-bottom: 0.2em;
    & > * {
      display: inline-block;
    }
    & > * + * {
      padding-left: 0.5em;
      border-left: 1px solid #ddd;
    }
    & > *:not(:last-of-type) {
      padding-right: 0.5em;
    }
    & ~ * {
      margin-left: 0.5em;
    }
  }
  .name {
    font-weight: 600;
    font-size: 1.15em;
    color: $dark_blue;
  }
  .dates {
    color: #888;
    span:not(:last-of-type) {
      &::after {
        content: ', ';
      }
    }
  }
  .actions {
    li {
      line-height: 1.6em;
    }
    li::before {
      content: "";
      vertical-align: middle;
      display: inline-block;
      height: 1.1em;
      width: 0.55em;
      margin: 0 0.6em 0 0.3em;
      background-color: $blue;
      @include box-shadow(3px 0 5px -1px rgba($blue, 0.7));
      transform: skew(20deg);
    }
  }
  .action-date {
    color: #888;
  }
}
