.Section {
  width: 0;
  position: absolute;
  overflow-y: hidden;
  left: 0;
  top: 0;
  @include transition(width $slide_duration ease);
  min-height: 100vh;
  padding-top: $navbar_height;
  padding-bottom: 0;
  display: inline-block;
  @include bp-medium {
    padding-top: 0;
    padding-bottom: $navbar_height;
  }
  &.left {
    left: 0;
    right: unset;
    & > div {
      left: unset;
      right: 0;
    }
  }
  &.right {
    right: 0;
    left: unset;
    & > div {
      right: unset;
      left: 0;
    }
  }
  &.active {
    width: 100%;
    & > div {
      overflow-y: auto;
    }
  }
  & > div {
    @extend %scroll-bar;
    width: 100vw;
    height: 100%;
    position: absolute;
    bottom: 0;
    overflow-y: hidden;
    @include bp-medium {
      padding-bottom: $navbar_height;
    }
    padding-top: $navbar_height;
    article > *:last-child {
      padding-bottom: 2em;
    }
  }
  &:not(.active) {
    overflow-y: hidden;
    * {
    }
  }
}
