.Section {
  width: 0;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  padding-top: $navbar_height;
  display: inline-block;
  @include transition(width $slide_duration ease)
  @include bp-medium {
    padding-top: 0;
    padding-bottom: $navbar_height;
  }
  &.active {
    width: 100vw;
    & > div {
      right: unset;
      left: 0;
    }
  }
  & > div {
    width: 100vw;
    position: absolute;
    right: 0;
    top: $navbar_height;
    @include bp-medium {
      top: 0;
    }
  }
}
