.Footer {
  min-height: 15rem;
  background-color: #efefeb;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Footer__section {
  min-width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.Footer__section-row {
  flex-grow: 1;
  line-height: 1.75rem;
}
