@import './Sass/mixins';
@import './Sass/reset';
@import './Sass/theme';

@import './Components/SectionWrapper/SectionWrapper';
@import './Components/Section/Section';

body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font: 100% sans-serif;
  color:  #222;
  * {
    box-sizing: border-box;
  }
}
