@import './Sass/mixins';
@import './Sass/reset';
@import './Sass/theme';

@import './Components/Components';
@import './Pages/Pages';

body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font-family: $content_font_stack;
  color:  #222;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $display_font_stack;
}

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 2em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.1em; }

a {
  color: $blue;
  text-decoration: none;
}
.fa {
  color: inherit;
  font-size: inherit;
  vertical-align: middle;
}
