body {
  margin: 0;
  padding: 0;
  font-family: 'Asap', Arial, sans-serif;
  font-size: 100%;
  color: #3a3a31;
  background: #fffffa;
}

* {
  box-sizing: border-box;
  position: relative;
}

.display-font {
  font-family: 'Questrial', Helvetica, sans-serif;
}

a {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: #111;
  cursor: pointer;
}
a[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  background: #fff;
}
button:hover {
  cursor: pointer;
  background: #ddd;
}
